/* -------------  ------------- All styles -------------  ------------- */

body {
  background-image: url(../../images/info_bg.jpg);
  background-repeat: repeat;
  background-color: #f8f5f2;
}


/* -------------  ------------- Header -------------  ------------- */


/* -------------  ------------- Main content -------------  ------------- */

.main-content,
.main-content a {
  color: #000000;
}

.main-content__header,
.main-content__breadcrumbs,
.main-content__shop {
  margin-left: 11px;
}

.main-content__shop {
  overflow: hidden;
}

.main-content__header {
  margin-top: 53px;
}

.main-content__header h2 {
  font-size: 30px;
  margin-bottom: 20px;
}

.main-content__breadcrumbs a {
  position: relative;
  margin-right: 36px;
}

.main-content__breadcrumbs a::after {
  position: absolute;
  top: 5px;
  left: 63px;
  display: block;
  content: '';
  width: 7px;
  height: 7px;
  transform: rotate(45deg);
  background-color: #000000;
}

.main-content__breadcrumbs a:last-child::after {
  display: none;
}

.main-content__breadcrumbs a:last-child {
  color: #aeacaa;
}

.shop-filters {
  float: left;
  width: 180px;
  margin-top: 25px;
}

.shop-filters input[type="checkbox"],
.shop-filters input[type="radio"] {
  display: block;
}

.shop-products {
  float: right;
  width: 750px;
  margin-top: 56px;
  padding-left: 41px;
}

.shop-products__item {
  float: left;
  width: 220px;
  height: 286px;
  margin-right: 20px;
  margin-bottom: 20px;
  background-color: #ffffff;
  box-shadow: 0 0 15px #aeacaa;
}

.shop-products__item:nth-child(3n) {
  margin-right: 0;
}

.shop-products__item p {
  width: 150px;
  margin-left: 15px;
  margin-top: 8px;
  line-height: 19px;
  text-transform: none;
}

.shop-products__item-price {
  width: 186px;
  height: 43px;
  margin: 0 auto;
  background-color: #e5e5e5;
}

.shop-products__item-price span {
  padding-left: 29px;
  line-height: 40px;
}

.button--buy-product {
  float: right;
  width: 78px;
}

.shop-products__paginator {
  clear: both;
  padding-top: 24px;
}

.button--paginator {
  float: left;
  width: 43px;
  margin-right: 7px;
  margin-bottom: 47px;
  border: none;
}

.shop-products__paginator a {
  color: #ffffff;
}

.button--paginator:hover {
  border: none;
  background-color: #663d15;
  
}

.button--paginator-active {
  background-color: #ffffff;
}

a.button--paginator-active {
  color: #000000;
}

a.button--paginator-active:hover {
  color: #ffffff;
}


/* -------------  ------------- Footer -------------  ------------- */

.page-footer {
  height: 190px;
  background-image: url(../../images/footer_bg.jpg);
  background-color: #202020;
}