/*.declaration-order {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;

  display: block;
  float: right;
  width: 100px;
  height: 100px;
  margin: 10px;
  padding: 10px;

  font: normal 13px/1.5 "Arial", sans-serif;
  font-style: normal;
  font-size: 13px;
  line-height: 1.5;
  font-family: "Arial", sans-serif;
  text-align: center;
  color: #333333;

  background-color: #f5f5f5;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  opacity: 1;

  transition: color 1s;

  will-change: auto;
}*/


/*@font-face {
  font-family: "PT Sans Narrow";
  font-style: normal;
  font-weight: 400;
  src: local("PT Sans Narrow"), local("PTSans-Narrow"),
       url(../fonts/web/ptsansnarrow.woff2) format("woff2"),
       url(../fonts/web/ptsansnarrow.woff) format("woff");
}

@font-face {
  font-family: "PT Sans Narrow Bold";
  font-style: normal;
  font-weight: 700;
  src: local("PT Sans Narrow Bold"), local("PTSans-NarrowBold"),
       url(../fonts/web/ptsansnarrowbold.woff2) format("woff2"),
       url(../fonts/web/ptsansnarrowbold.woff) format("woff");
}*/

*, *::before, *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {  
  margin: 0;
  padding: 0;

  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  color: #ffffff;

  background-color: #070707;
  background-image: url("../images/backgrounds/index-bg.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
}

.inner-page {
  color: #000000;

  background-color: #f8f5f2;
  background-image: url("../images/backgrounds/light-bg.jpg");
  background-repeat: repeat;
  background-position: left top;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.inline-link {
  text-decoration: underline;
}

button {
  cursor: pointer;
}

.button {
  font: inherit;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  color: #ffffff;

  background-color: #000000;
  border: none;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;

  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

/*::-webkit-scrollbar {
  width: 4px;

  padding-right: 9px;
}

::-webkit-scrollbar:horizontal {
  height: 4px;
}

::-webkit-scrollbar-track {
  background: #cccccc;
}*/


/*h1 {
  font-size: 30px;
}

h2, h3 {
  font-size: 24px;
}

p {
  line-height: 24px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

button,
input[type="submit"] {
  border: none;
  font-family: "PT Sans Narrow Bold", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
}

.button {
  display: block;
  width: 140px;
  height: 43px;
  text-align: center;
  line-height: 43px;
  border-left: 1px solid #100f0f;
  border-right: 1px solid #100f0f;
  background-color: #000000;
}

.button:hover {
  border-left: 1px solid #6f4923;
  border-right: 1px solid #6f4923;
  background-color: #663d15;
}
 

/* -------------  Header  ------------- */

.main-navigation {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  margin-bottom: 75px;
}

.logo {
  width: 111px;
  height: 24px;
}

.logo_index {
  order: 1;
  width: 371px;
  height: 155px;
  margin: auto;
}

.navigation-wrapper {
  min-height: 72px;
  margin-bottom: 60px;

  background-color: #000000;
}

.navigation-wrapper .container {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
}

.site-navigation,
.user-navigation {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  min-height: 72px;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.site-navigation a,
.user-navigation a {
  color: #ffffff;
}

.site-navigation {
  width: 620px;
}

.site-navigation__link a,
.user-navigation__link a {
  display: block;

  line-height: 72px;
}

.site-navigation__link a {
  padding: 0 22px;
}

.site-navigation__link:last-child {
  margin-right: 0;
}

.user-navigation {
  justify-content: flex-end;
  width: 160px;
}

.user-navigation__link a {
  padding: 0 20px;
  padding-left: 53px;
}


/* ------------- Main content ------------- */

.features {
  margin-bottom: 54px;
}

.features-list {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.features-list__item {
  width: 300px;
}

.columns-wrapper {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  min-height: 419px;
  margin-bottom: 36px;

  color: #000000;

  background-color: #f8f5f2;
  background-image: url("../images/backgrounds/light-bg.jpg");
  background-repeat: repeat;
  background-position: left top;
}

.columns-wrapper:last-child {
  margin-bottom: 65px;
}

.column_left {
  width: 380px;
}

.column_right {
  width: 300px;
}

.news-list {
  margin: 0;
  padding: 0;

  list-style-type: none;
}


/* -------------  Footer ------------- */

.main-footer {
  min-height: 193px;

  color: #ffffff;

  background-color: #232323;
  background-image: url("../images/backgrounds/dark-bg.jpg");
  background-repeat: repeat;
  background-position: left top;
}

.main-footer .container {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;

}

.footer-contacts {
  width: 320px;
  margin-right: 80px;
}

.footer-socials,
.footer-copyrights {
  width: 140px;
}

.socials-list {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.footer-copyrights {
  margin-left: auto;
}

/*.main-footer {
  overflow: hidden;
  min-height: 189px;
  background-color: #202020;
}

.main-footer__contacts,
.main-footer__socials,
.main-footer__copyrights {
  float: left;
  min-width: 144px;
  max-width: 305px;
  margin-top: 43px;
  text-align: center;
}

.main-footer__contacts {
  margin-left: 11px;
  margin-right: 101px;
  text-align: left;
}

.main-footer__copyrights {
  float: right;
  margin-right: 5px;
}

.social-links {
  font-size: 1px;
}

.button--social {
  float: left;
  width: 43px;
  height: 43px;
  margin-right: 5px;
  margin-bottom: 5px;
  background-image: url(../images/sprite.png);
  background-repeat: no-repeat;
  color: transparent;
}

.button--social:hover {
  background-color: #ffffff;
}

.button--social-vk {
  background-position: 8px -186px;
}

.button--social-fb {
  background-position: 16px -51px;
}

.button--social-ig {
  background-position: 11px -124px;
}

.button--social-vk:hover {
  background-position: 8px -157px;
}

.button--social-fb:hover {
  background-position: 16px -18px;
}

.button--social-ig:hover {
  background-position: 11px -89px;
}

.button--developers:hover {
  background-color: #ffffff;
  color: #000000;
}*/