/*.declaration-order {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;

  display: block;
  float: right;
  width: 100px;
  height: 100px;
  margin: 10px;
  padding: 10px;

  font: normal 13px/1.5 "Arial", sans-serif;
  font-style: normal;
  font-size: 13px;
  line-height: 1.5;
  font-family: "Arial", sans-serif;
  text-align: center;
  color: #333333;

  background-color: #f5f5f5;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  opacity: 1;

  transition: color 1s;

  will-change: auto;
}*/


/*@font-face {
  font-family: "PT Sans Narrow";
  font-style: normal;
  font-weight: 400;
  src: local("PT Sans Narrow"), local("PTSans-Narrow"),
       url(../fonts/web/ptsansnarrow.woff2) format("woff2"),
       url(../fonts/web/ptsansnarrow.woff) format("woff");
}

@font-face {
  font-family: "PT Sans Narrow Bold";
  font-style: normal;
  font-weight: 700;
  src: local("PT Sans Narrow Bold"), local("PTSans-NarrowBold"),
       url(../fonts/web/ptsansnarrowbold.woff2) format("woff2"),
       url(../fonts/web/ptsansnarrowbold.woff) format("woff");
}*/

*, *::before, *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  min-width: 960px;
  margin: 0;
  padding: 0;

  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  color: #ffffff;

  background-color: #070707;
  background-image: url("../images/backgrounds/index-bg.jpg");
  background-repeat: no-repeat;
  background-position: center 40px;
}

.inner-page {
  color: #000000;

  background-color: #f8f5f2;
  background-image: url("../images/backgrounds/light-bg.jpg");
  background-repeat: repeat;
  background-position: left top;
}

.container {
  position: relative;
  
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}

img {
  /*display: block;*/
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.inline-link {
  text-decoration: underline;
}

button {
  cursor: pointer;
}

.button {
  display: -webkit-inline-flex;
  display: -moz-inline-flex;
  display: -ms-inline-flex;
  display: -o-inline-flex;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  padding: 10px 20px;

  font: inherit;
  text-transform: uppercase;
  color: #ffffff;

  background-color: #000000;
  border: none;
}

.button_wide {
  width: 300px;
}

.button:hover,
.button:active,
.button:focus {
  background-color: #673d15;

  outline: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  white-space: nowrap;

  border: 0;

  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

/*::-webkit-scrollbar {
  width: 4px;

  padding-right: 9px;
}

::-webkit-scrollbar:horizontal {
  height: 4px;
}

::-webkit-scrollbar-track {
  background: #cccccc;
}*/


/*h1 {
  font-size: 30px;
}

h2, h3 {
  font-size: 24px;
}

p {
  line-height: 24px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

button,
input[type="submit"] {
  border: none;
  font-family: "PT Sans Narrow Bold", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
}

.button {
  display: block;
  width: 140px;
  height: 43px;
  text-align: center;
  line-height: 43px;
  border-left: 1px solid #100f0f;
  border-right: 1px solid #100f0f;
  background-color: #000000;
}

.button:hover {
  border-left: 1px solid #6f4923;
  border-right: 1px solid #6f4923;
  background-color: #663d15;
}
 

/* ------------- Header ------------- */

.main-header {
  margin-bottom: 72px;
}

.inner-page .main-header {
  margin-bottom: 60px;

  background-color: #000000;
}

.main-navigation {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
}

.inner-page .main-navigation {
  flex-direction: row;
  align-items: center;
}

.logo_index {
  order: 1;
  width: 371px;
  height: 155px;
  margin: auto;
}

.logo_index img {
  display: block;
  width: 371px;
  height: 155px;
}

.logo_inner {
  order: 0;
  /*width: 111px;
  height: 24px;
  margin: 0 20px; */
  padding: 23px 20px;
  padding-bottom: 25px;
}

.logo_inner img {
  display: block;
  width: 111px;
  height: 24px;
}

.navigation-wrapper {
  margin-bottom: 60px;

  background-color: #000000;
}

.navigation-wrapper .container {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
}

.site-navigation,
.user-navigation {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.site-navigation {
  width: 640px;
}

.user-navigation {
  justify-content: flex-end;
  width: 140px;
}

.inner-page .user-navigation {
  margin-left: auto;
}

.site-navigation__link,
.user-navigation__link {
  position: relative;

  display: block;
  padding: 26px 20px;

  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

.user-navigation__link_login {
  padding-left: 53px;
}

.site-navigation__link:hover,
.site-navigation__link:active,
.site-navigation__link:focus,
.user-navigation__link:hover,
.user-navigation__link:active, 
.user-navigation__link:focus {
  background-color: #242424;

  outline: none;
}

.site-navigation__link_current::after {
  content: "";

  position: absolute;
  left: 22px;
  right: 22px;
  bottom: 0;

  display: block;
  width: auto;
  height: 4px;

  background-color: #ffffff;
}

.user-navigation__link_login::before {
  content: "";

  position: absolute;
  top: 28px;
  left: 21px;

  display: block;
  width: 16px;
  height: 16px;

  background-image: url("../images/icons/login.svg");
  background-repeat: no-repeat;
  opacity: 0.3;
}

.user-navigation__link_login:hover::before,
.user-navigation__link_login:focus::before,
.user-navigation__link_login:active::before {
  opacity: 1;
}


/* ------------- Main content ------------- */

.page_index {
  margin-bottom: 63px;
}

.page_index h2 {
  margin: 0;
  margin-bottom: 20px;

  font-size: 30px;
  line-height: 42px;
}

.page_inner {
  margin-bottom: 50px;
}

.columns-wrapper {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
}

.breadcrumbs,
.pagination {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.breadcrumbs {
  margin-bottom: 60px;
}

.breadcrumbs__item {
  margin-right: 35px;
}

.pagination__item {
  margin-right: 10px;
}

.breadcrumbs__item:last-child,
.pagination__item:last-child {
  margin-right: 0;
}

/* ------------- Main content - Index ------------- */

.columns-wrapper_index {
  position: relative;

  margin-bottom: 35px;
  padding-left: 81px;
  padding-top: 47px;
  padding-right: 79px;
  padding-bottom: 50px;

  color: #000000;

  background-color: #f8f5f2;
  background-image: url("../images/backgrounds/light-bg.jpg");
  background-repeat: repeat;
  background-position: left top;
}

.columns-wrapper_index::after {
  content: "";

  position: absolute;
  top: 80px;
  left: 465px;

  display: block;
  width: 8px;
  height: 278px;

  background-image: url("../images/vertical-line.png");
}

.column_left {
  width: 380px;
}

.column_right {
  width: 300px;
}

/* ------------- Main content - Index - Features ------------- */

.features {
  margin-bottom: 77px;
}

.features-list {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.features-list__item {
  width: 300px;
  padding: 0 10px;

  text-align: center;
}

.features-list__item p {
  margin: 0;
}

.features-list__item p:first-child {
  position: relative;

  margin-bottom: 58px;
}

.features-list__item p:first-child::after {
  content: "";

  position: absolute;
  bottom: -29px;
  left: 50%;

  display: block;
  width: 20px;
  height: 20px;

  background-color: #ffffff;

  transform: translateX(-50%) rotate(45deg) ;
}

.features-list__item strong {
  font-size: 30px;
  line-height: 42px;
}

/* ------------- Main content - Index - News ------------- */

.news p {
  margin: 0;
}

.news-list {
  margin: 0;
  margin-bottom: 28px;
  padding: 0;

  list-style-type: none;
}

.news-list article {
  margin-bottom: 20px;
}

.news-list__item time {
  text-transform: none;
}

/* ------------- Main content - Index - Gallery ------------- */

.gallery p {
  margin: 0;
}

.gallery-image {
  margin: 0;
  margin-bottom: 38px;

  border: 7px solid #ffffff;
}

.gallery-image img {
  width: 286px;
  height: 164px;
}

.gallery-image a,
.gallery-image img {
  display: block;
}

.gallery-controls {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
}

/* ------------- Main content - Index - Contacts ------------- */

.contacts p {
  margin: 0;
  margin-bottom: 20px;
}

.contacts-buttons {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

.button_contacts {
  margin-right: 20px;
}

/* ------------- Main content - Index - Appointment ------------- */

.appointment p {
  margin: 0;
  margin-bottom: 10px;
}

.appointment-form__fieldset {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 8px;
  padding: 0;

  border: none;
}

.appointment-form__item {
  width: 140px;
}

.appointment-form label {
  display: block;
  margin-bottom: 6px;
  padding-left: 17px;
}

.appointment-form input[type="text"],
.appointment-form input[type="tel"] {
  width: 140px;
  padding: 8px 14px;

  font: inherit;
  text-transform: uppercase;
  color: #000000;
  
  background-color: #f9f6f3;
  border: 2px solid #000000;
}

.appointment-form input[type="text"]:focus,
.appointment-form input[type="tel"]:focus {
  border: 2px solid #673d15;
  outline: none;
}

.appointment-form input[type="text"]::-webkit-input-placeholder,
.appointment-form input[type="tel"]::-webkit-input-placeholder,
.appointment-form input[type="text"]::-ms-input-placeholder,
.appointment-form input[type="tel"]::-ms-input-placeholder, {
  color: rgba(0, 0, 0, 0.7);
}

/* Main content - Shop */

.filters {
  width: 220px;
}

.filters fieldset {
  border: none;
}

.manufacturers-list,
.group-list {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.catalog {
  width: 700px;
}

.catalog-list {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 25px;
  padding: 0;

  list-style-type: none;
}

.catalog-list__item {
  width: 220px;
  margin-right: 20px;
  margin-bottom: 20px;

  background-color: #ffffff;
}

.catalog-list__item:nth-child(3n+3) {
  margin-right: 0;
}

.catalog-list__item > a {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
}

.catalog-list__item-header {
  order: 1;
}

.catalog-list__item-header span {
  display: block;
}

/* Main content - Product */

.product-images {
  width: 460px;
}

.product-images__view {
  margin-bottom: 20px;
}

.product-images__thumbnails {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.product-images__thumbnails-item {
  width: 140px;
  margin-right: 20px;
}

.product-images__thumbnails-item:last-child {
  margin-right: 0;
}

.product-info {
  width: 390px;
}

.product-info__wrapper {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
}

.product-info__status {
  width: 150px;
}

.product-info__—Åode {
  width: 220px;

  text-align: right;
}

/* Main content - Price */

.price-brands {
  width: 380px;
}

.price-table {
  width: 460px;
}

.price-about__wrapper {
  -moz-column-count: 2;
  -webkit-column-count: 2;
  column-count: 2;
}

.price-about__text {
  width: 380px;
}

.price-about__text:first-child {
  margin-top: 0;
}


/* ------------- Footer ------------- */

.main-footer {
  padding-top: 60px;
  padding-bottom: 40px;

  color: #ffffff;

  background-color: #232323;
  background-image: url("../images/backgrounds/dark-bg.jpg");
  background-repeat: repeat;
  background-position: left top;
}

.inner-page .main-footer {
  padding-top: 57px;

  background-image: url("../images/backgrounds/footer-inner-bg.jpg"), url("../images/backgrounds/dark-bg.jpg");
  background-repeat: repeat-x, repeat;
  background-position: left top, left top;
}

.main-footer .container {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

.main-footer p {
  margin: 0;
  margin-bottom: 15px;
}

.main-footer a {
  color: #ffffff;
}

.footer-contacts {
  width: 320px;
  margin-right: 80px;
}

.footer-socials,
.footer-copyrights {
  width: 140px;

  text-align: center;
}

.socials-list {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.button_social {
  position: relative;

  width: 43px;
  height: 43px;
  padding: 0;

  font-size: 0;
}

.button_social:hover,
.button_social:active,
.button_social:focus {
  background-color: #ffffff;
}

/*.button_social_vk {
  background-image: url("../images/icons/vk.svg");
}*/

.button_social:hover path,
.button_social:active path,
.button_social:focus path {
  fill: #000000;
}

.footer-copyrights {
  margin-left: auto;
}

.button_copyrights:hover,
.button_copyrights:active,
.button_copyrights:focus {
  color: #000000;

  background-color: #ffffff;
}
