/*.declaration-order {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;

  display: block;
  float: right;
  width: 100px;
  height: 100px;
  margin: 10px;
  padding: 10px;

  font: normal 13px/1.5 "Arial", sans-serif;
  font-style: normal;
  font-size: 13px;
  line-height: 1.5;
  font-family: "Arial", sans-serif;
  text-align: center;
  color: #333333;

  background-color: #f5f5f5;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  opacity: 1;

  transition: color 1s;

  will-change: auto;
}*/


/*@font-face {
  font-family: "PT Sans Narrow";
  font-style: normal;
  font-weight: 400;
  src: local("PT Sans Narrow"), local("PTSans-Narrow"),
       url(../fonts/web/ptsansnarrow.woff2) format("woff2"),
       url(../fonts/web/ptsansnarrow.woff) format("woff");
}

@font-face {
  font-family: "PT Sans Narrow Bold";
  font-style: normal;
  font-weight: 700;
  src: local("PT Sans Narrow Bold"), local("PTSans-NarrowBold"),
       url(../fonts/web/ptsansnarrowbold.woff2) format("woff2"),
       url(../fonts/web/ptsansnarrowbold.woff) format("woff");
}*/

*, *::before, *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {  
  margin: 0;
  padding: 0;

  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  color: #ffffff;

  background-color: #070707;
  background-image: url("../images/backgrounds/index-bg.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
}

.inner-page {
  color: #000000;

  background-color: #f8f5f2;
  background-image: url("../images/backgrounds/light-bg.jpg");
  background-repeat: repeat;
  background-position: left top;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.inline-link {
  text-decoration: underline;
}

button {
  cursor: pointer;
}

.button {
  font: inherit;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  color: #ffffff;

  background-color: #000000;
  border: none;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;

  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

/*::-webkit-scrollbar {
  width: 4px;

  padding-right: 9px;
}

::-webkit-scrollbar:horizontal {
  height: 4px;
}

::-webkit-scrollbar-track {
  background: #cccccc;
}*/


/*h1 {
  font-size: 30px;
}

h2, h3 {
  font-size: 24px;
}

p {
  line-height: 24px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

button,
input[type="submit"] {
  border: none;
  font-family: "PT Sans Narrow Bold", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
}

.button {
  display: block;
  width: 140px;
  height: 43px;
  text-align: center;
  line-height: 43px;
  border-left: 1px solid #100f0f;
  border-right: 1px solid #100f0f;
  background-color: #000000;
}

.button:hover {
  border-left: 1px solid #6f4923;
  border-right: 1px solid #6f4923;
  background-color: #663d15;
}
 

/* -------------  Header  ------------- */

.main-navigation {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
}

.logo {
  width: 111px;
  height: 24px;
}

.logo_index {
  order: 1;
  width: 371px;
  height: 155px;
  margin: auto;
}

.navigation-wrapper {
  min-height: 72px;
  margin-bottom: 60px;

  background-color: #000000;
}

.navigation-wrapper .container {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
}

.site-navigation,
.user-navigation {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  min-height: 72px;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.site-navigation a,
.user-navigation a {
  color: #ffffff;
}

.site-navigation {
  width: 620px;
}

.site-navigation__link a,
.user-navigation__link a {
  display: block;

  line-height: 72px;
}

.site-navigation__link a {
  padding: 0 22px;
}

.site-navigation__link:last-child {
  margin-right: 0;
}

.user-navigation {
  justify-content: flex-end;
  width: 160px;
}

.user-navigation__link a {
  padding: 0 20px;
  padding-left: 53px;
}

/*.main-header {
  overflow: hidden;
  min-height: 72px;
  font-size: 16px;
  margin-bottom: 57px;
  background-color: #000000;
}

.main-header__logo {
  float: left;
}

.main-header__logo a {
  display: block;
  width: 111px;
  height: 72px;
  margin-left: 29px;
  margin-right: 10px;
  font-size: 1px;
  background-image: url(../images/logo_small.png);
  background-repeat: no-repeat;
  background-position: center;
  color: transparent;
}

.main-header__menu {
  float: left;
  max-width: 560px;
  padding-left: 9px;
}

.main-header__personal {
  float: right;
  position: relative;
  padding-right: 10px;
}

.main-header__menu-item {
  float: left;
}

.main-header__menu-item a, 
.main-header__personal a {
  display: block;
  line-height: 72px;
}

.main-header__menu-item a {
  padding-right: 19px;
  padding-left: 21px;
}

.main-header__personal a {
  padding-right: 20px;
  padding-left: 53px;
}

.main-header__personal a::before {
  position: absolute;
  top: 28px;
  left: 20px;
  content: '';
  display: block;
  width: 18px;
  height: 16px;
  background-image: url(../images/sprite.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.main-header__personal a:hover::before {
  opacity: 1;
}

.main-header__menu-item:hover, 
.main-header__personal a:hover {
  background-color: #242424;
}

.main-header__menu-item--active a::after {
  content: '';
  display: block;
  height: 4px;
  margin-top: -4px;
  background-color: #ffffff;
}*/


/* ------------- Main content ------------- */

/*.main-content__logo {
  width: 400px;
  height: 204px; 
  margin: 0 auto;
  margin-bottom: 22px;
  background-image: url(../images/logo.png);
  background-repeat: no-repeat;
  background-position: 22px 0; 
}

.main-content__advantages {
  overflow: hidden;
  margin-bottom: 64px;
}

.main-content__advantages-item {
  position: relative;
  float: left;
  width: 284px;
  margin: 0 18px;
  text-align: center;
}

.main-content__advantages-item strong {
  display: block;
  font-size: 30px;
  padding-bottom: 57px;
}

.main-content__advantages-item::after {
  position: absolute;
  top: 59px;
  left: 133px;
  content: '';
  display: block;
  width: 18px;
  height: 18px;
  background-color: #ffffff;
  transform: rotate(45deg);
}

.wrapper {
  overflow: hidden;
  width: 940px;
  min-height: 430px;
  margin: 0 auto;
  margin-bottom: 35px;
  background-image: url(../images/vertical-line_bg.png), url(../images/info_bg.jpg);
  background-repeat: no-repeat, repeat;
  background-position: center;
  background-color: #f8f5f2;
  color: #000000;
}

.wrapper:last-child {
  margin-bottom: 63px;
}

.inner {
  width: 325px;
}

.inner h2 {
  font-size: 30px;
  margin-top: 47px;
  margin-bottom: 25px;
}

.inner--left {
  float: left;
  margin-left: 82px;
}

.inner--right {
  float: right;
  margin-right: 50px;
}

.main-content__news time {
  font-family: "PT Sans Narrow", sans-serif;
  text-transform: none;
}

.main-content__news p {
  margin-top: 30px;
  margin-bottom: 3px;
  padding-right: 25px;
}

.main-content__news p:first-child {
  margin-top: 26px;
}

.button--news {
  margin-top: 34px;
  margin-bottom: 53px;
}

.main-content__gallery img {
  margin-top: 7px;
  margin-left: -4px;
  margin-bottom: 33px;
  border: 7px solid #ffffff;
}

.button--gallery,
.button--contacts {
  float: left;
  margin-right: 23px;
}

.button--gallery {
  margin-left: -3px;
}

.button--contacts {
  margin-left: -1px;
}

.button--gallery:last-child,
.button--contacts:last-child {
  margin-right: 0;
}

.main-content__contacts p {
  margin-bottom: 24px;
}

.main-content__contacts p:last-of-type {
  margin-bottom: 46px;
}

.main-content__appointment {
  position: relative;
}

.main-content__appointment p {
  padding-right: 30px;
  margin-bottom: 26px;
}

.main-content__appointment input[type="text"] {
  width: 140px;
  height: 43px;
  border: 2px solid #000000;
  margin-left: -4px;
  margin-bottom: 20px;
  padding: 0 14px;
  background-color: #f9f6f3;
}

.main-content__appointment input[type="text"]:focus {
  border: 2px solid #663d15;
}

.main-content__appointment input:nth-of-type(odd) {
  margin-right: 23px;
}

.main-content__appointment input[placeholder] {
  padding-left: 14px;
  font-family: "PT Sans Narrow Bold", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
}

.main-content__appointment input[placeholder]::-webkit-input-placeholder {
  color: #000000;
}

.button--submit {
  width: 301px;
  margin-left: -4px;
  margin-top: 13px;
}*/


/* -------------  Footer ------------- */

/*.main-footer {
  overflow: hidden;
  min-height: 189px;
  background-color: #202020;
}

.main-footer__contacts,
.main-footer__socials,
.main-footer__copyrights {
  float: left;
  min-width: 144px;
  max-width: 305px;
  margin-top: 43px;
  text-align: center;
}

.main-footer__contacts {
  margin-left: 11px;
  margin-right: 101px;
  text-align: left;
}

.main-footer__copyrights {
  float: right;
  margin-right: 5px;
}

.social-links {
  font-size: 1px;
}

.button--social {
  float: left;
  width: 43px;
  height: 43px;
  margin-right: 5px;
  margin-bottom: 5px;
  background-image: url(../images/sprite.png);
  background-repeat: no-repeat;
  color: transparent;
}

.button--social:hover {
  background-color: #ffffff;
}

.button--social-vk {
  background-position: 8px -186px;
}

.button--social-fb {
  background-position: 16px -51px;
}

.button--social-ig {
  background-position: 11px -124px;
}

.button--social-vk:hover {
  background-position: 8px -157px;
}

.button--social-fb:hover {
  background-position: 16px -18px;
}

.button--social-ig:hover {
  background-position: 11px -89px;
}

.button--developers:hover {
  background-color: #ffffff;
  color: #000000;
}*/